{{template "header.html"}}

<div id="main">
{{range ProposedJokes}}
<form action="" method="post">
  <p>Suggerisci una barzelletta...</p>
  <textarea name="joke-submit" id="joke-submit" rows="10" cols="50">{{.Joke}}</textarea>
  <p>...scegli una categoria apropriata...</p>
  <select name="categoryid" id="categoyid">
    {{range AllCategories}}
    <option value="{{.CategoryID}}">{{.Name}}</option>
    {{end}}
  </select>
  <p>...oppure se nessuna delle categorie di sopra è adeguata, suggeriscine una nuova...</p>
  <input type="text" name="new-category">
  <p>...e lo slug...</p>
  <input type="text" name="slug">
  <input type="hidden" name="proposed" value="{{.JokeID}}">
  <p><button type="submit">Invia barzelletta :)</button></p>
    
</form>
{{end}}


</div>

{{template "sidebar.html"}}
{{template "footer.html"}}
