{{template "header.html" .}}
<h1>{{.Name}}</h1>

<div id="order">
    Order by:
    {{if eq .OrderBy "likes"}}
    votes
    {{else}}
    <a href="?orderby=likes">votes</a>
    {{end}}

     - 

    {{if eq .OrderBy "newer"}}
    newer
    {{else}}
    <a href="?orderby=newer">newer</a>
    {{end}}

     - 

    {{if eq .OrderBy "older"}}
    older
    {{else}}
    <a href="?orderby=older">older</a>
    {{end}}
</div>

{{range .Jokes}}
{{template "joke.html" .}}
{{end}}

{{template "sidebar.html"}}
{{template "footer.html"}}
