{{template "header.html" .}}

<div id="main">

  <h2>{{.Name}}</h2>

  <div id="order">
    Le barzellette più:
    {{if eq .OrderBy "likes"}}
    votate
    {{else}}
    <a href="?orderby=likes">votate</a>
    {{end}}

     - 

    {{if eq .OrderBy "newer"}}
    nuove
    {{else}}
    <a href="?orderby=newer">nuove</a>
    {{end}}

     - 

    {{if eq .OrderBy "older"}}
    vecchie
    {{else}}
    <a href="?orderby=older">vecchie</a>
    {{end}}
  </div>

  
{{range .Jokes}}
{{template "joke.html" .}}
{{end}}
</div>

{{template "sidebar.html"}}
{{template "footer.html"}}
