* { margin: 0; }
html, body {height: 100%;}
body {
    font-family: sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
p {
    padding-bottom: 10px;
}
img {
    max-width: 100%;
}
#header {
    margin: 10px;
}
#logo a {
    color: black;
    font-size: 25px;
}
#invia {
    padding-top: 10px;
}
#invia a {
    color: green;
}

.nav {
    color: green;
}

#sidebar a {
    color: blue;
    font-size: 18px;
    font-weight: 100;
}

#order a {
    color: purple;
    font-weight: 700;
}

#film {
    color: red !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}

@media (max-width: 604px) {
    #skiptomenu {
        margin: 1%;
    }
    #share {
        padding-top: 4%;
    }
    #main {
        margin-left: 1%;
        margin-right: 1%;
    }
    #sidebar {
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .heart {
        font-size: 40px !important;
    }
}
@media (min-width: 605px) {
    #header {
        padding-bottom: 35px;
    }
    #logo {
        float: left;
    }
/*
    #ads {
        float: right;
    }
*/
    #invia {
        float: right;
        padding-left: 15px;
    }
    #share {
        float: right;
    }
    #main {
        float: left;
        margin-left: 1%;
        margin-right: 5%;
        width: 56%;
        margin-bottom: 50px;
    }
    #sidebar {
        margin-right: 1%;
        margin-left: 63%;
    }
    #skiptomenu {
        visibility: hidden;
    }
}

.barzelletta {
    padding-bottom: 10px;
}

.barzelletta p {
    font-size: 18px;
    font-weight: 100;
    white-space: pre-line;
}

#sidebar li {
    font-size: 25px;
    list-style-type: none;
}

.heart {
    font-size: 30px;
}

.pulse {
    color: red;
    animation: pulse 1s linear;
}

@keyframes "pulse" {
    50% {
        transform: scale (1.1);
    }
    100% {
        transform: scale (1.3);
    }
}