{{template "header.html"}}

<div id="main">
  
<h1>I migliori film comici di sempre!</h1>

<h2><a href="http://www.amazon.it/gp/product/B009D0SEE2/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B009D0SEE2&linkCode=as2&tag=penporaccobre-21" title="Il grande Lebowski">Il grande Lebowski</a></h2>
<a href="http://www.amazon.it/gp/product/B009D0SEE2/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B009D0SEE2&linkCode=as2&tag=penporaccobre-21" title="Il grande Lebowski"><img src="il_grande_lebowski.jpg" alt="Il grande Lebowski"/></a>

<h2><a href="http://www.amazon.it/gp/product/B00NGF060A/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B00NGF060A&linkCode=as2&tag=penporaccobre-21" title="Frankenstein Junior">Frankenstein Junior</a></h2>
<a href="http://www.amazon.it/gp/product/B00NGF060A/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B00NGF060A&linkCode=as2&tag=penporaccobre-21" title="Frankenstein Junior"><img src="frankenstein_junior.jpg" alt="Frankenstein Junior"/></a>

<h2><a href="http://www.amazon.it/gp/product/B000SL1VLS/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B000SL1VLS&linkCode=as2&tag=penporaccobre-21" title="American Pie">American Pie</a></h2>
<a href="http://www.amazon.it/gp/product/B000SL1VLS/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B000SL1VLS&linkCode=as2&tag=penporaccobre-21" title="American Pie"><img src="american_pie.jpg" alt="American Pie"/></a>


<h2><a href="http://www.amazon.it/gp/product/B0007Q6RI6/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B0007Q6RI6&linkCode=as2&tag=penporaccobre-21">Man on the Moon</a></h2>
<a href="http://www.amazon.it/gp/product/B0007Q6RI6/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B0007Q6RI6&linkCode=as2&tag=penporaccobre-21"><img src="man_on_the_moon.jpg" alt="Man on the Moon"/></a>

<h2><a href="http://www.amazon.it/gp/product/B0041KW5J4/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B0041KW5J4&linkCode=as2&tag=penporaccobre-21" title="Una notte da leoni">Una Notte Da Leoni</a></h2>
<a href="http://www.amazon.it/gp/product/B0041KW5J4/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B0041KW5J4&linkCode=as2&tag=penporaccobre-21" title="Una notte da leoni"><img src="una_notte_da_leoni.jpg" alt="Una notte da leoni"/></a>

<h2><a href="http://www.amazon.it/gp/product/B0041KWA26/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B0041KWA26&linkCode=as2&tag=penporaccobre-21" title="Animal House">Animal House</a></h2>
<a href="http://www.amazon.it/gp/product/B0041KWA26/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B0041KWA26&linkCode=as2&tag=penporaccobre-21" title="Animal House"><img src="animal_house.jpg" alt="Animal House"/></a>

</div>

{{template "sidebar.html"}}
{{template "footer.html"}}
