{{template "header.html"}}

<div id="main">
  
<h1>I migliori film comici di sempre!</h1>

<h2>Il grande Lebowski</h2>
<a href="http://www.amazon.it/gp/product/B009D0SEE2/ref=as_li_ss_tl?ie=UTF8&camp=3370&creative=24114&creativeASIN=B009D0SEE2&linkCode=as2&tag=penporaccobre-21" title="Il grande Lebowski"><img src="il_grande_lebowski.jpg" alt="Il grande Lebowski"/></a>
</div>

Frankenstein Junior
Una notte da leoni
American Pie
ANIMAL HOUSE
Man on the moon
Il dottor Stranamore, ovvero come imparai a non preoccuparmi e ad amare la bomba

{{template "sidebar.html"}}
{{template "footer.html"}}
