* { margin: 0; }
body {
    font-family: sans-serif;
    font-size: 24px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #fafffa;
}
h1 {
    font-size: 30px;
    text-align: center;
}
h2 {
    font-size: 18px;
}
#logo a {
    font-size: 30px;
}
header {
    padding-top: 10px;
}
.nav {
    color: #2A396E;
    font-weight: 700;
    text-decoration: none;
}
.prev {
    color: brown;
    font-weight: 700;
    text-decoration: none;
}
.next {
    color: brown;
    font-weight: 700;
    text-decoration: none;
    float: right;
}
a[rel~="prev"] {
    color: brown;
    font-weight: 700;
    text-decoration: none;
}
a[rel~="next"] {
    color: brown;
    font-weight: 700;
    text-decoration: none;
    float: right;
}
#sidebar a {
    font-size: 26px;
}
.promotion {
    color: brown;
/*    font-size: 24px !important; */
    font-weight: 700;
    text-decoration: none;
}
@media (max-width: 604px) {
    #skiptomenu {
        font-size: 24px;
    }
    #logo {
        padding-top: 10px;
    }
    #submit {
        padding-top: 10px;
    }
    #share {
        padding-top: 10px;
    }
    #ads {
        padding-top: 15px;
    }
}
@media (min-width: 605px) {
    #header {
        padding-bottom: 70px;
    }
    #logo {
        float: left;
    }
    #ads {
        float: right;
        padding-right: 30px;
    }
    #submit {
        float: right;
    }
    #share {
        float: right;
        padding-right: 15px;
    }
    main {
        float: left;
        width: 64%;
    }
    #sidebar {
        padding-top: 50px;
        margin-left: 64%;
    }
    #skiptomenu {
        visibility: hidden;
    }
}
.barzelletta {
    padding-bottom: 20px;
}
.barzelletta p {
    font-size: 22px;
    white-space: pre-wrap;
    background-color: #ddd;
    border-radius: 20px;
    padding: 10px;
}
#sidebar li {
    list-style-type: none;
    padding-top: 5px;
}
