* { margin: 0; }
body {
    font-size: 24px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #fafffa;
}
h1 {
    font-size: 30px;
    text-align: center;
}
h2 {
    font-size: 18px;
}
#header {
    padding-bottom: 20px;
}
header {
    padding-top: 10px;
}
#logo a {
    font-size: 45px;
}
a {
    color: #2A396E;
    font-weight: 700;
    text-decoration: none;
}
.prev {
    color: brown;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 30px;
    float: left;
}
.next {
    color: brown;
    font-weight: 700;
    text-decoration: none;
    float: right;
    margin-bottom: 30px;
}
#categories {
    font-size: 30px;
}
#categories ul {
    list-style-type: none;
}
.promotion {
    color: brown;
    font-size: 24px !important;
    font-weight: 700;
    text-decoration: none;
}
.barzelletta {
    padding-bottom: 20px;
}
.barzelletta p {
    font-size: 24px;
    white-space: pre-wrap;
    background-color: #ddd;
    border-radius: 20px;
    padding: 10px;
}
footer {
    margin-bottom: 10px;
}
#top {
    position: absolute;
    right: 4%;
    font-size: 50px;
}