<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Barzellette {{.Title}}</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/main.css?etag=3" type="text/css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
  </head>
  <body>
    <header id="header">
      <h1 id=logo><a href="/" rel=home>BarzeDette :)</a></h1>
    </header>
    <main>
      
      {{if eq .Slug "pierino"}}
      <h1 id=categoryname>Barzellette su <a href="https://it.wikipedia.org/wiki/Pierino_%28personaggio%29">{{.Name}}</a></h1>
      {{else if eq .Slug "hitler"}}
      <h1 id=categoryname>Barzellette su <a href="https://it.wikipedia.org/wiki/Adolf_Hitler">{{.Name}}</a></h1>
      {{else if eq .Slug "yiddish"}}
      <h1 id=categoryname>Barzellette <a href="https://it.wikipedia.org/wiki/Storiella_ebraica">{{.Name}}</a></h1>
      {{else if eq .Slug "umorismo-nero"}}
      <h1 id=categoryname><a href="https://it.wikipedia.org/wiki/Umorismo_nero">{{.Name}}</a></h1>
      {{else}}
      <h1 id=categoryname>Barzellette {{.Name}}</h1>
      {{end}}

      {{range $i, $e := .Jokes}}
      <article class="barzelletta">
        <header>
          <a rel=bookmark class="nav" href="{{$e.AbsUrl}}" title="{{$e.Title}}">{{$e.JokeID}}</a>
        </header>
        <p>{{$e.Joke}}</p>
      </article>

      {{if eq $i 1}}
      <aside id="ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- barzedette inline responsive -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2838559583130931"
             data-ad-slot="8036907403"
             data-ad-format="auto"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </aside>
      {{end}}
      {{end}}

      </main>

      <footer>
        <a href="/" rel=home>BarzeDette :)</a>
        <a href="#logo" id=top>↑</a>
      </footer>
  </body>
</html>
