{{template "header.html"}}

<h1>Other humor sites</h1>
<p>The internet is an open and amazing space. Here are some cool sites to check out:</p>
<ul>
  <li><a href="http://truthfacts.com/truthfacts">Truth facts</a></li>
  <li><a href="http://theoatmeal.com/">The Oatmeal comics</a></li>
  <li><a href="http://www.lawsuit.no">Stupid lawsuits</a></li>
  <li><a href="http://www.best-funny-jokes.com">Best funny jokes</a></li>
  <li><a href="http://www.jokes-best.com/">Top short funny jokes</a></li>
  <li><a href="http://www.pmcaregivers.com/Humor.htm">Old people are funny</a></li>
  <li><a href="http://www.jokesoftheday.net">Jokes of the day</a></li>
</ul>
</p>

{{template "sidebar.html"}}
{{template "footer.html"}}
