{{template "header.html" .}}
<article class="barzelletta">
<header>
  <a class=nav href="{{.Category.AbsUrl}}" title="{{.Category.Name}}">{{.Category.Name}}</a>
</header>
<p>{{.Joke}}</p>
</article>
{{with .Prev}}
<a rel=prev href="{{.AbsUrl}}" title="{{.Title}}">Previous</a>
{{end}}
{{with .Next}}
<a rel=next href="{{.AbsUrl}}" title="{{.Title}}">Next</a>
{{end}}
</main>

<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    this.page.url = {{.AbsUrl}};
    this.page.identifier = {{.JokeID}};
  };
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//jojokes.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
  })();
</script> <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{{template "footer.html"}}
